/.vs/
/touhou_the_big_coffer/obj/Release
/touhou_the_big_coffer/Temp/UnityVS_obj/Release/touhou_the_big_coffer.Editor.csproj.CoreCompileInputs.cache
/touhou_the_big_coffer/Temp/UnityVS_obj/Release
/touhou_the_big_coffer/Temp/UnityVS_obj/Debug/touhou_the_big_coffer.Editor.csproj.CoreCompileInputs.cache
/touhou_the_big_coffer/Temp/UnityVS_obj/Debug
/touhou_the_big_coffer/Temp/UnityVS_obj
