/.vs/
/touhou_the_big_coffer/obj/Release
/touhou_the_big_coffer/Temp/UnityVS_obj/Release/touhou_the_big_coffer.Editor.csproj.CoreCompileInputs.cache
/touhou_the_big_coffer/Temp/UnityVS_obj/Release
/touhou_the_big_coffer/Temp/UnityVS_obj/Debug/touhou_the_big_coffer.Editor.csproj.CoreCompileInputs.cache
/touhou_the_big_coffer/Temp/UnityVS_obj/Debug
/touhou_the_big_coffer/Temp/UnityVS_obj
# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/TestConnection/.vs/TestConnection/v16/Browse.VC.opendb
/TestConnection/.vs/
/TestConnection/.vs/TestConnection/v16/ipch/AutoPCH/b4f58f0257352e08/TESTCONNECTION.ipch
